.Title{
    background-color: #1976d2;
    height: 100vh;
    padding-top: 0;
    text-align: center !important;
}

.text {
    -ms-transform: translateY(35vh);
    transform: translateY(35vh);
}

.text h1 {
    font-size: 3rem;
    text-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.text h3 {
    font-size: 1.8rem;
    text-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}