.left_body {
    padding-right: 3rem;
    padding-left: 3rem;
}

.progress {
    -ms-transform: translateY(40vh);
    transform: translateY(40vh);
}

.down .css-hyxlzm {
    color: red !important;
}

.up .css-hyxlzm {
    color: green !important;
}

.heading {
    font-size: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    font-weight: 700;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}